



body {
    color: #000000;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
}
#header {
    background: #ffffff;
    height: 120px;
    padding: 0px;
    margin: 0px;
    background-image: url("ncXL7RzcB_120x120.png");
    background-position: right;
    background-repeat: no-repeat;
}
#header h1 {
    text-align: left;
    font: 72px verdana,arial,helvetica,sans-serif;
    margin: 0px;
}
#header p {
    text-align: left;
    margin-left: 30px;
    font: italic 16px verdana,arial,helvetica,sans-serif;
}
#nav {
    background: #afafcf;
    color: #000000;
}
#nav li {
    display: inline-block;
    text-align: left;
    padding: 5px 20px 5px 20px;
    font: 12pt verdana,arial,helvetica,sans-serif;
}
/* getting Webkit to actually display the hover property
 * is surprisingly unobvious... */
#nav li:hover a, #nav li a:hover {
    color: #ffffff;
    text-shadow: #404040 2px 2px 2px;
    text-decoration: none;
    font-weight: bold;
}
#nav a:link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
#nav a:visited {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
.column {
    padding: 0px;
    font: 12pt verdana,arial,helvetica,sans-serif;
}
.columnpad {
    padding: 6px;
    font: 12pt verdana,arial,helvetica,sans-serif;
}
#column1 {
    width: 50%;
    margin: 0px;
    float: left;
}
#column2 {
    border-left: 1px solid #afafcf;
    width: 50%;
    margin: 0px 0px 0px 50%;
}
.column p {
    margin: 6px;
}
.column dl {
    margin: 6px;
}
.column table {
    margin: 6px;
}
.column li {
    margin: 6px;
}
.column h2 {
    margin: 6px;
}
.column a:link, .column a:visited {
    color: #808080;
}
#front .cloud {
    text-align: center;
    background: #eeeeee;
    padding: 20px;
    color: #000000;
    /* border: 2px solid #000000; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    margin: 10px;
}
#front .cloud h2 {
    font: 28pt verdana,arial,helvetica,sans-serif;
}
#front .cloud p {
    font: 20pt verdana,arial,helvetica,sans-serif;
}
#front .cloud p b {
    font: bold 20pt verdana,arial,helvetica,sans-serif;
}
#front #gotcode {
    width: 200px;
    float: left;
}
#front #gotcode h2 {
    font: 28pt verdana,arial,helvetica,sans-serif;
}
#front #columns {
    width: 100%;
    margin: 10px 0 10px 0;
    padding: 0;
}
#front #columns .columncont {
    width: 33%;
    margin: 0px;
    padding: 0;
    display: inline-block;
}
#front #gnomecont img {
    /* vertically align the gnome logo with the other 2 columns */
    margin: 26px 0 26px 0;
}
#front #gnome {
    margin-left: 20px;
}
#front #term {
    margin-right: 20px;
}
#front .button {
    width: 240px;
    padding-top: 9px;
    padding-bottom: 12px;
    margin: 20px;
    font: 20pt verdana,arial,helvetica,sans-serif;
}
#front .button .icon {
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 42px;
    height: 42px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#front #seescreenshots .icon {
    background-image: url('goto-333x333.png');
}
#front #tryitout .icon {
    background-image: url('goto-333x333.png');
}
#front #tellmemore .icon {
    background-image: url('goto-333x333.png');
}
/* Ubuntu orange per http://design.ubuntu.com/brand/colour-palette #dd4814; */
#front #ubuntu .icon {
    /* Ubuntu logo http://design.ubuntu.com/downloads?metadata=element-logo+brand-ubuntu */
    background-image: url('logo-ubuntu_cof-white_orange-hex.png');
    /* This 1 pixel makes the scaled icon not have truncated sides */
    width: 41px;
    height: 41px;
}
#download {
    padding: 10px;
}
#front .gotblurb {
    height: 5em;
}
.button {
    display: inline-block;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2);
    padding: 5px 24px 7px;
    text-decoration: none;
    /* makes this element the origin of .icon's position */
    position: relative;
}
.column .button:link, .column .button:visited {
    color: #ffffff;
}
.suggested_action {
    color: #ffffff;
    border-color: rgba(0,0,0,.4);
    background: -webkit-linear-gradient(#8aa138, #426c06);
    background: -moz-linear-gradient(#8aa138, #426c06);
    background: -ms-linear-gradient(#8aa138, #426c06);
    background: linear-gradient(#8aa138, #426c06);
    background-color: #426c06;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.suggested_action:active {
    background: -webkit-linear-gradient(#426c06, #8aa138);
    background: -moz-linear-gradient(#426c06, #8aa138);
    background: -ms-linear-gradient(#426c06, #8aa138);
    background: linear-gradient(#426c06, #8aa138);
    background-color: #9ab43f;
}
.suggested_action:hover {
    color: #ffffff;
}
#footer {
    background: #ffffff;
    border-top: 3px solid #afafcf;
    /*padding: 4px; */
    margin: 0;
    width: 100%;
    clear: left;
}
#footer p {
    font: 8pt verdana,arial,helvetica,sans-serif;
    text-align: center;
}
#footer a:link, #footer a:visited {
    color: #808080;
}
#gallery {
    margin: 20px;
}
.gallery-thumb {
    display: inline-block;
    text-align: left;
    vertical-align: center;
    width: 105;
    height: 105;
}
.gallery-popup {
    position: relative;
    color: #000000;
    background: #ffffff;
    padding: 20px;
    width: auto;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}
.gallery-popup .h2 {
    color: #000000;
}
.features dt {
    font: 16pt bold verdana,arial,helvetica,sans-serif;
}
H1 { font: bold 24pt verdana,arial,helvetica,sans-serif; }
H2 { font: bold 18pt verdana,arial,helvetica,sans-serif; }
H3 { font: bold 14pt verdana,arial,helvetica,sans-serif; }
UL { font: 12pt verdana,arial,helvetica,sans-serif; }
P { font: 12pt verdana,arial,helvetica,sans-serif; }
P.small { font: 8pt verdana,arial,helvetica,sans-serif; }
P B { font: bold 12pt verdana,arial,helvetica,sans-serif; }
P EM { font: italic 12pt verdana,arial,helvetica,sans-serif; }
TD { font: 12pt verdana,arial,helvetica,sans-serif; }
TD B { font: bold 12pt verdana,arial,helvetica,sans-serif; }
PRE { font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace; }
all.program { font: bold 12pt verdana,arial,helvetica,sans-serif; }
all.option { font: bold 12pt verdana,arial,helvetica,sans-serif; }
all.function { font: bold 12pt verdana,arial,helvetica,sans-serif; }
PRE.example {
  font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace;
  color: #000000;
  background-color: #d0d0f6;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1pt;
  padding: 8pt;
  white-space: pre;
}
PRE.source {
  font: 12pt lucidatypewriter,lucidasanstypewriter,courier,monospace;
  color: #000000;
  background-color: #d0d0f6;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1pt;
  padding: 8pt;
  white-space: pre;
}
TD.hilite {
  color: #000000;
  background-color: #d0d0f6;
}
TR.hilite {
  color: #000000;
  background-color: #d0d0f6;
}
/* vim:set ft=css: */
